.chat {
    padding: 0;
    width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    font: 18px Helvetica, "PingFang SC", "Microsoft YaHei", sans-serif
}

.cams {
    position: relative;
    margin: 4px 7px;
    min-height: 50px;
    border: 0
}

.right {
    text-align: right;
    margin-left: 64px
}

.left {
    text-align: left;
    margin-right: 64px
}

img.headIcon {
    width: 34px;
    height: 34px;
    top: 9px;
    position: absolute;
    border: 1px solid #c5d4c4
}

.name {
    color: #8b8b8b;
    font-size: 12px;
    display: block;
    line-height: 18px
}

.name .title {
    display: inline-block;
    padding: 0 3px;
    background-color: rgba(80, 80, 77, 0.19);
    color: #105fad;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-right: 4px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.content {
    word-break: break-all;
    word-wrap: break-word;
    text-align: left;
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding: 10px 15px;
    line-height: 20px;
    min-width: 9px;
    min-height: 18px
}

.content img {
    width: 100%;
    height: auto
}

.content a {
    color: #0072C1;
    margin: 0 5px;
    cursor: hand
}

.tips {
    margin: 12px;
    text-align: center;
    font-size: 12px
}

.tips span {
    display: inline-block;
    padding: 4px;
    background-color: #ccc;
    color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px
}

img.radius {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%
}

.right img.headIcon {
    right: 0
}

.left img.headIcon {
    left: 0
}

.right .name {
    margin: 0 48px 2px 0
}

.left .name {
    margin: 0 0 2px 48px
}

.right .content {
    margin: 0 48px 0 0;
    -webkit-border-radius: 20px 0 20px 20px;
    border-radius: 20px 0 20px 20px;
    color: #fff;
    background: -webkit-linear-gradient(70deg, #3FD1E1 0%, #44D7CD 100%);
    background: linear-gradient(20deg, #3f8fe1cc 0%, #44d7c9 100%);
    -webkit-box-shadow: 5px 5px 15px 0 rgba(102, 102, 102, 0.15);
    box-shadow: 5px 5px 15px 0 rgba(102, 102, 102, 0.15)
}

.left .content {
    margin: 0 0 0 48px;
    -webkit-border-radius: 0 20px 20px 20px;
    border-radius: 0 20px 20px 20px;
    color: #666;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(102, 102, 102, 0.1);
    box-shadow: 5px 5px 15px 0 rgba(102, 102, 102, 0.1)
}

.right .content:after {
    right: -12px;
    top: 8px
}

.left .content:after {
    left: -12px;
    top: 8px
}

.tips .tips-primary {
    background-color: #3986c8
}

.tips .tips-success {
    background-color: #49b649
}

.tips .tips-info {
    background-color: #5bb6d1
}

.tips .tips-warning {
    background-color: #eea948
}

.tips .tips-danger {
    background-color: #e24d48
}

.name .admin {
    background-color: #72D6A0
}

.name .owner {
    background-color: #F2BF25
}

.box {
    width: 1200px;
    height: 100%;
    solid-color: #3FD1E1;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #8b8b8b;
}

.boxLeft {
    width: 200px;
    float: left;
    border-right: 5px solid #3FD1E1;
    height: 100%;
}


.el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;

}

.el-aside {
    color: #319450;
}
